.button-compare {
  background-color: var(--my-light-black);
  padding-left: 1rem;
  height: 2.5rem;
  border: 1px solid var(--my-light-black);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--my-white);
}

.button-compare:hover {
  background-color: var(--my-dark-gray);
}

.content {
  padding: 1rem;
}

.info__img-container {
  height: 11.3rem;
  width: 11.6rem;
  margin: 0 auto;
}

.info__img {
  width: 11.6rem;
  image-rendering: pixelated;
}

.info__attributes {
  display: flex;
  gap: 2.2rem;
}

.info__text {
  font-size: 1.2rem;
}

@media(min-width: 577px) {
  .button-compare {
    width: 9.4rem;
  }
  .content {
    padding: 0 1rem;
  }
  .info {
    display: flex;
    gap: 1rem;
  }
  .info__content {
    width: 60%;
  }
}