.card {
  border: 1px solid var(--my-dark-gray);
  border-radius: 5px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.card__img-container {
  width: 100%;
}

.card__img {
  width: 100%;
  image-rendering: pixelated;
}

.card__description {
  background-color: var(--my-gray);
  text-align: center;
  border-top: 1px solid var(--my-dark-gray);
  padding: 0.2rem;
  height: 12%;
}

.card__name {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--my-black);
}

@media(min-width: 577px) {
  .card__img-container {
    height: 12rem;
    width: 100%;
  }
  .card__img {
    height: 100%;
  }
  .card {
    border: 1px solid var(--my-dark-gray);
    min-width: 100px;
    max-width: 220px;
    max-height: 235px;
  }
}