.comparison__content {
  padding: 0 1rem;
}

.comparison__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 11.3rem;
}

.comparison__img {
  width: 186px;
  image-rendering: pixelated;
}

.comparison__info {
  width: 100%;
}

.info__row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.info__title {
  font-weight: 700;
}

.info__ability {
  text-align: center;
}

@media(min-width: 577px) {
  .comparison__images {
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
  }
}