.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.header__info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.button--compare {
  background-color: var(--my-light-black);
  padding-left: 1rem;
  height: 2.5rem;
  border: 1px solid var(--my-light-black);
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

.button--compare:hover {
  background-color: var(--my-dark-gray);
}

.details__content {
  padding: 1rem;
}

.info__img-container {
  width: 186px;
  margin: 0 auto;
}

.info__img {
  width: 186px;
  image-rendering: pixelated;
}

.info__attributes {
  display: flex;
  gap: 2.2rem;
}

.info__text {
  font-size: 1.2rem;
}

.button--close {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--my-light-black);
}

.button--close:active, .button--close:hover {
  color: var(--my-black);
  cursor: pointer;
}

@media(min-width: 577px) {
  .break-line {
    margin: 0;
  }
  .header__info {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .button--compare {
    width: 150px;
  }
  .details__content {
    padding: 0 1rem;
  }
  .info {
    display: flex;
    gap: 1rem;
  }
  .info__content {
    width: 60%;
  }
}

@media(min-width: 769px) {}