.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: var(--modal-color);
  display: flex;
  align-items: center;
  overflow: auto;
}

.details {
  background-color: white;
  width: 100%;
  margin: auto;
  margin-top: 6rem;
  border-radius: 5px;
  height: 90%;
  overflow: scroll;
  position: relative;
}

@media(min-width: 577px) {
  .details {
    margin-top: 4rem;
    height: auto;
  }
}

@media(min-width: 769px) {
  .details {
    max-width: 620px;
  }
}